                 /* HEADER CONFIG */
#navgeral {
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  opacity: 0.9;
  display: block;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.nav-item {
  padding: 10px 30px;
}

li>a>img {
  width: 30px;
  border-radius: 5px;
}

/* Config Icons menu */
.fa-solid, .fas {
  font-size: 20px;
}

#airbnb {
  font-size: 23px;
  font-weight: 600;
}

                 /* HEADER CONFIG */